body{
    margin:0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 12%, 8%);
}
p{
    color:white;
    font-family: "Overpass";
}
.attribution{
    color: white;
    text-align: center;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

#submitContainer{
    display: flex;
}
#rateContainer{
    display: none;
}



.container{
    background: radial-gradient(circle at top,hsl(213, 19%, 18%) 0%,hsla(217, 12%, 63%, 0.01));
    width: 25rem;
    height: 25rem;
    flex-direction: column;
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
@media (max-width: 375px) {
    .container{
        background: radial-gradient(circle at top,hsl(213, 19%, 18%) 0%,hsla(217, 12%, 63%, 0.01));
        width: 18rem;
        height: 21rem;
        border-bottom-left-radius: 1.5rem;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
    }
}