html,body{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
    
}
.theRealBody{
    background-color: hsl(216, 12%, 8%);
    
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    
    align-items: center;
    padding-top:calc(50%-200px);
}
p{
    color:white;
    font-family: "Overpass";
}
.attribution{
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

.container{
    background: radial-gradient(circle at top,hsl(213, 19%, 18%) 0%,hsla(217, 12%, 63%, 0.01));
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    
}
.containerStar{
    display: flex;
    flex-direction: row;
    
}
.star{
    display: flex;
    background-color:  hsl(213, 19%, 18%);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-top: 25px;
    margin-left: 25px;
}
.starImg{
    max-width: fit-content;
    height: auto;
    margin: auto;
}
.contentText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-left: 25px;
    margin-right: 25px;
}
.h1{
    color:white;
    font-family: "Overpass";
    margin-bottom: 0px;
}
.textHow{
    margin-top: 10px;
    color:hsl(217, 12%, 63%);
    
}
.divRate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;
    margin-right: 25px;
}
.rate{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    
    
    
}
.btn{
    font-family: "Overpass";
    text-align: center;
    border-radius: 100%;
    border: none;
    width: 50px;
    height: 50px;
    background-color:hsl(213, 19%, 18%) ;
    font-size: large;
    color: hsl(217, 12%, 63%);
}
.submit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
}
.submitBtn{
    background-color: hsl(25, 97%, 53%);
    color: white;
    font-family: "Overpass";
    font-size: larger;
    text-align: center;
    height: 50px;
    border: none;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 350px;
}
.btn:hover{
    background-color:hsl(25, 97%, 53%);
    color: white;
}
.submitBtn:hover{
    background-color: white;
    color: hsl(25, 97%, 53%);
}
.btn:focus{
    color:white;
    background-color: hsl(217, 12%, 63%);
}
